body {
  margin: 30px;
  background: white;
  font-family: "Times New Roman", serif;
  position: relative;
}

.color-block {
  position: absolute;
  width: 560px;
  height: 165px;
  border: 10px solid black;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 165px;
}

#div1 {
  background-color: red;
  top: 0px;
  left: 30px;
}

#div2 {
  background-color: green;
  top: 205px;
  left: 30px;
}

#div3 {
  background-color: blue;
  top: 410px;
  left: 30px;
}

#div4 {
  background-color: yellow;
  width: 560px;
  height: 240px;           
  line-height: 240px;
  top: 585px;              
  left: 60px;              
}
``