.color-block {
    border: 5px solid black;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 20px;
}
#div1 {
    background-color: red;
    width: 300px;
    height: 120px;
}
#div2 {
    background-color: green;
    width: 340px;
    height: 140px;
}
#div3 {
    background-color: blue;
    width: 340px;
    height: 110px;
}
#div4 {
    background-color: yellow;
    width: 380px;
    height: 180px;
}
