body {
  margin: 0;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
h1 {
  width: 70%;
  margin: 0 auto 30px auto;
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
}
.custom-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 95%;
  background-color: #eeeeee;
  border: 2px solid yellow;
  position: relative;
}
.custom-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 100%;
  background-color: purple;
}
.custom-list li {
  padding: 6px 10px 6px 60px;
  border-bottom: 2px solid yellow;
  position: relative;
  font-size: 14px;
}
.custom-list li:last-child {
  border-bottom: none;
}
.custom-list li::before {
  content: "•";
  color: yellow;
  position: absolute;
  left: 20px;
  font-size: 20px;
  line-height: 1;
}

