body {
  font: 12pt Verdana, Arial, Georgia, sans-serif;
  width: auto;
  margin: 0 20px;
  box-sizing: border-box;
}

header {
  width: 95%;
  background-color: antiquewhite;
  margin: 0 auto;
  overflow: hidden;
}

#logo {
  float: left;
  margin-right: 20px;
}
body {
  font: 12pt Verdana, Arial, Georgia, sans-serif;
  width: auto;
  margin: 0 20px;
  box-sizing: border-box;
}

header {
  width: 95%;
  background-color: antiquewhite;
  margin: 0 auto;
  overflow: hidden;
}

#logo {
  float: left;
  margin-right: 15px; 
}

/* NAV */
nav {
  float: left;
}

/* NAV LIST */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: block;
  margin-bottom: 5px;
}

section {
  width: 95%;              
  margin: 15px auto 0 auto;
  clear: left;
}

section p {
  background-color: antiquewhite;
  padding: 10px;
  margin: 15px 0; 
}

section a {
  text-decoration: underline;
  font-weight: bold;
}

section ul {
  padding-left: 0;
  margin-top: 10px;
}

section li {
  list-style-type: none;
  margin-bottom: 6px;
}

.blue {
  color: blue;
  font-weight: bold;
}


