body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px 40px;
}

h1 {
    color: #a60000;
    font-size: 32px;
}

.container {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    max-width: 900px;
}

.left-img {
    width:260px;
    margin-right: 25px;
    border-radius: 4px;
}

.content h2 {
    color: #008000;
    margin-top: 0;
}

p {
    line-height: 1.6;
}

.continue {
    color: #cc0000;
    font-weight: bold;
    text-decoration: none;
}
.continue:hover {
    text-decoration: underline;
}